<!DOCTYPE html>
<html>
	<body>

		<style>
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

table, th, td {
	border: 1px solid;
}
		</style>

		<h1 class="center">SMART-AC</h1>

		<table class="center">
			<tr>
				<td id="temp1"></td><td id="amps"></td><td id="temp2"></td><td id="pressure"></td>
			</tr>
			<tr>
				<td id="humidity"></td><td id="eco2"></td><td id="tvoc"></td><td id="presence1"></td>
			</tr>
			<tr>
				<td id="presence2"></td><td id="pm25"></td><td id="pm10"></td><td id="door1"></td>
			</tr>
			<tr>
				<td id="door2"></td><td id="luxes"></td><td id="instructions"></td>
			</tr>
		</table>

	</body>
</html>

<script src="/static/js/request.js"></script>
